{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <h1>{{ post.author.username }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Content</th>
                <td>{{ post.content }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>
                    {% if post.picture %}
                        <img src="/uploads/posts/{{ post.picture }}" alt="image"
                             class="img-fluid w-25 rounded flex mx-auto d-block"/>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Tags</th>
                <td>{{ post.tags }}</td>
            </tr>
            <tr>
                <th>Comments</th>
                <td>
                    {% for comment in post.getChildren %}
                        <div class="comment">
                            <p>{{ comment.content}}</p>
                            <p><strong>{{ comment.author.username }}</strong></p>
                            <p><em>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i') : '' }}</em></p>
                            <a class="btn btn-dark" href="{{ path('app_post_new', {'parent': post.id}) }}">reply</a>
                        </div>
                    {% else %}
                        <p>No comments yet.</p>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-dark" href="{{ path('app_post_index') }}">back</a>
    <a class="btn btn-dark" href="{{ path('app_post_edit', {'id': post.id}) }}">edit</a>
    <a class="btn btn-dark" href="{{ path('app_post_new', {'parent': post.id}) }}">comment</a>
    <br>
    <br>
    {{ include('post/_delete_form.html.twig') }}
{% endblock %}
